#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

export GOPATH=$(CURDIR)/rem

PKGDIR=debian/rem

%:
	dh $@ 

clean:
	dh_clean

binary-arch: clean
	dh_prep
	dh_installdirs
	cd $(GOPATH) && go build -o rem main.go line.go
	mkdir -p $(PKGDIR)/usr/bin
	cp $(GOPATH)/rem $(PKGDIR)/usr/bin/
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-arch
